<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">


  <div class="container">

      <div class="row mb-4">

          <div class="col-md-8 custom-modal-sm">

              <div class="row border-bottom mb-3">

                  <div class="col-12">
                      <h2>Edit channel partner</h2>
                  </div>

              </div>

              <div class="row py-2">

                  <div class="col-sm-11 col-10 pr-0">
                      <input type="text" class="form-control m-0" placeholder="Full name">
                  </div>

                  <div class="col-sm-1 col-2">
                      <img src="assets/images/tick.svg" width="16px" height="16px" />
                  </div>

              </div>

              <div class="row py-2">

                  <div class="col-sm-11 col-10 pr-0">
                      <input type="email" class="form-control m-0" placeholder="Email">
                  </div>

                  <div class="col-sm-1 col-2">
                      <img src="assets/images/tick.svg" width="16px" height="16px" />
                  </div>

              </div>

              <div class="row py-2">

                  <div class="col-10 col-sm-4 col-lg-2 pr-0 mb-3 mb-sm-0">

                      <div class="dropdown">

                          <button class="btn btn-white dropdown-toggle m-0 text-left w-100" type="button"
                              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              Country
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Set target by monthly</a>
                              <a class="dropdown-item" href="#">Set target by quarterly</a>
                              <a class="dropdown-item" href="#">Set target for the year</a>
                          </div>

                      </div>

                  </div>

                  <div class="col-10 col-sm-7 col-lg-9 pr-0">
                      <input type="text" class="form-control m-0" placeholder="Mobile">
                  </div>

                  <div class="col-2 col-sm-1">
                      <img src="assets/images/tick.svg" width="16px" height="16px" />
                  </div>

              </div>

              <div class="row py-2">

                  <div class="col-sm-11 col-10 pr-0">
                      <input type="text" class="form-control m-0" placeholder="Bank name">
                  </div>

                  <div class="col-sm-1 col-2">
                      <img src="assets/images/tick.svg" width="16px" height="16px" />
                  </div>

              </div>

              <div class="row py-2">

                  <div class="col-sm-11 col-10 pr-0">
                      <input type="text" class="form-control m-0" placeholder="Account number">
                  </div>

                  <div class="col-sm-1 col-2">
                      <img src="assets/images/tick.svg" width="16px" height="16px" />
                  </div>

              </div>

              <div class="row py-2">

                  <div class="col-10 col-sm-11 pr-0">

                      <div class="dropdown">

                          <button class="btn btn-white dropdown-toggle m-0 text-left w-100" type="button"
                              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              Select bank account type
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Savings</a>
                              <a class="dropdown-item" href="#">Current(Checking)</a>
                          </div>

                      </div>

                  </div>

                  <div class="col-2 col-sm-1">
                      <img src="assets/images/tick.svg" width="16px" height="16px" />
                  </div>

              </div>

              <div class="row py-2">

                  <div class="col-10 col-sm-11 pr-0">
                      <input type="text" class="form-control m-0" placeholder="IFSC code">
                  </div>

                  <div class="col-2 col-sm-1">
                      <img src="assets/images/tick.svg" width="16px" height="16px" />
                  </div>

              </div>

              <div class="row pt-3">

                  <div class="col-12 text-sm-right">

                      <button type="button" class="btn btn-white my-0 mr-2 px-4">Cancel</button>
                      <button type="button" class="btn btn-blue my-0 px-4">Save</button>

                  </div>

              </div>

          </div>

      </div>

  </div>

</div>