<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">


  <div class="container">

      <div class="row">

          <div class="col-sm-12 col-md-9 col-lg-7 col-xl-12 custom-modal-sm">

              <div class="row mb-3 border-bottom">

                  <div class="col-12">
                      <h2>Transfer leads</h2>
                  </div>

              </div>

              <div class="row py-2">
                  <div class="col-12">
                      <input class="form-control" type="search" placeholder="Search lead">
                  </div>

              </div>

              <div class="row py-2 overflow-y-auto height-350">

                  <div class="col-12">
                        <table id="employeedata" class="display select table table-striped table-bordered table-responsive"
                        cellspacing="0" width="100%" style="width:100%">
                        <thead>
              
                        </thead>
                        <tbody>
                        </tbody>
                      </table>


                      <!-- <table id="example" class="display select table table-striped table-bordered table-responsive"
                          cellspacing="0" width="100%" style="width:100%">
                          <thead>
                              <tr>
                                  <th><input name="select_all" value="1" type="checkbox" class="mr-2">#</th>
                                  <th>Lead name</th>
                                  <th>Business deal</th>
                                  <th>Deal value</th>
                                  <th>Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let EmployeeData of Leadsdata;let Index=index;trackBy: trackByFn">
                                  <td></td>
                                  <td>{{EmployeeData.fullname}}</td>
                                  <td>{{EmployeeData.dealname}}</td>
                                  <td>{{EmployeeData.dealvalue}}</td>
                                  <td>{{EmployeeData.clientstagename}}</td>
                              </tr>
                             
                          </tbody>

                      </table> -->
                  </div>

              </div>

              <div class="row pt-3">
                  
<div class="col-12">
              <button type="button" class="btn btn-blue mb-3 mb-sm-0 my-0 px-4 float-sm-right">Transfer</button>
                      
<div class="dropdown mb-3 mb-sm-0 float-sm-right mr-3">
<button class="btn btn-white dropdown-toggle m-0 text-left" type="button"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Sales personnnel 1
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="#">Sales personnnel 1</a>
<a class="dropdown-item" href="#">Sales personnnel 2</a>
<a class="dropdown-item" href="#">Sales personnnel 3</a>
<a class="dropdown-item" href="#">Sales personnnel 4</a>
</div>
</div>
              <p class="mb-0 RL15 float-sm-right mr-3">Transfer selected leads to</p>
              </div>

              </div>

          </div>

      </div>

  </div>

</div>