<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">


  <div class="container">

      <div class="row mb-4">

          <div class="col-12 col-md-12 col-lg-11 col-xl-10 custom-modal-sm">

              <div class="border-bottom mb-3">
                  <h2>Set sales target</h2>
              </div>

              <div class="overflow-y-auto  height-350 px-0">

                  <table class="table table-responsive min-width200">

                      <thead>

                          <tr>
                              <th scope="col" class="RR15 text-dark">Name</th>
                              <th scope="col" class="RR15 text-dark">Target</th>
                              <th scope="col" class="RR15 text-dark">Value</th>
                              <th scope="col" class="RR15 text-dark">Duration</th>
                          </tr>

                      </thead>

                      <tbody>

                          <tr>

                              <th scope="row" class="RL15 text-dark">

                                  Veera

                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                      <label class="form-check-label" for="defaultCheck1">
                                          Distribute for team
                                      </label>
                                  </div>

                              </th>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          By rupees
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">By rupees</a>
                                          <a class="dropdown-item" href="#">By number of business
                                              deals</a>
                                          <a class="dropdown-item" href="#">By conversion rate</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="float-left">
                                      <input type="text" class="form-control m-0" placeholder="Value">
                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          Set target by monthly
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Set target by monthly</a>
                                          <a class="dropdown-item" href="#">Set target by quarterly</a>
                                          <a class="dropdown-item" href="#">Set target for the year</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                          </tr>

                          <tr>

                              <th scope="row" class="RL15 text-dark pl-4">

                                  Anil

                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2"
                                          checked>
                                      <label class="form-check-label" for="defaultCheck2">
                                          same for rest of the team
                                      </label>
                                  </div>

                              </th>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          By rupees
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">By rupees</a>
                                          <a class="dropdown-item" href="#">By number of business
                                              deals</a>
                                          <a class="dropdown-item" href="#">By conversion rate</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="float-left">
                                      <input type="text" class="form-control m-0" placeholder="Value">
                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          Set target by monthly
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Set target by monthly</a>
                                          <a class="dropdown-item" href="#">Set target by quarterly</a>
                                          <a class="dropdown-item" href="#">Set target for the year</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                          </tr>

                          <tr>

                              <th scope="row" class="RL15 text-dark pl-4">

                                  Pradeep

                              </th>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          By rupees
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">By rupees</a>
                                          <a class="dropdown-item" href="#">By number of business
                                              deals</a>
                                          <a class="dropdown-item" href="#">By conversion rate</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="float-left">
                                      <input type="text" class="form-control m-0" placeholder="Value">
                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          Set target by monthly
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Set target by monthly</a>
                                          <a class="dropdown-item" href="#">Set target by quarterly</a>
                                          <a class="dropdown-item" href="#">Set target for the year</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                          </tr>

                          <tr>

                              <th scope="row" class="RL15 text-dark pl-4">

                                  Sundeep

                              </th>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          By rupees
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">By rupees</a>
                                          <a class="dropdown-item" href="#">By number of business
                                              deals</a>
                                          <a class="dropdown-item" href="#">By conversion rate</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="float-left">
                                      <input type="text" class="form-control m-0" placeholder="Value">
                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          Set target by monthly
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Set target by monthly</a>
                                          <a class="dropdown-item" href="#">Set target by quarterly</a>
                                          <a class="dropdown-item" href="#">Set target for the year</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                          </tr>

                          <tr>

                              <th scope="row" class="RL15 text-dark pl-4">

                                  Chaitanya

                              </th>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          By rupees
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">By rupees</a>
                                          <a class="dropdown-item" href="#">By number of business
                                              deals</a>
                                          <a class="dropdown-item" href="#">By conversion rate</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="float-left">
                                      <input type="text" class="form-control m-0" placeholder="Value">
                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                              <td>

                                  <div class="dropdown float-left">

                                      <button class="btn btn-white dropdown-toggle m-0 text-left sst"
                                          type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          Set target by monthly
                                      </button>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Set target by monthly</a>
                                          <a class="dropdown-item" href="#">Set target by quarterly</a>
                                          <a class="dropdown-item" href="#">Set target for the year</a>
                                      </div>

                                  </div>

                                  <div class="float-left ml-2"><img src="assets/images/tick.svg" width="16px"
                                          height="16px" /></div>

                              </td>

                          </tr>

                      </tbody>

                  </table>

              </div>

              <div class="row py-3">

                  <div class="px-0 ml-auto mt-3">

                      <button type="button" class="btn btn-white my-0 mr-2 px-4">Cancel</button>
                      <button type="button" class="btn btn-blue my-0 px-4">Save</button>

                  </div>

              </div>

          </div>

      </div>

  </div>

</div>