<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">


  <div class="container">

      <div class="row mb-4">

          <div class="col-md-8 custom-modal-sm">

              <div class="row border-bottom mb-4">

                  <div class="col-12">
                      <h2>Invite user domain restrictions</h2>
                  </div>

              </div><!--row-end-->
              
              <div class="row">
              
              <div class="col-12">
              
              <div class="input-group mb-3">
              <div class="input-group-prepend">
<span class="input-group-text" id="basic-addon1">@</span>
</div>
<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
<div class="input-group-append">
<button class="btn btn-white" type="button" id="button-addon2">
              <img src="images/add-more.svg" width="16px" height="16px" class="mr-2"/>Add</button>
</div>
</div>
              
              </div><!--col-end-->
              
              </div><!--row-end-->
              
              <div class="row">
              
              <div class="col-12 overflow-y-auto height-160 mt-4">
              <p class="RL15">Existing and already invited users will not be effected by this setting, valid from now on.</p>
              <div class="form-group form-check mb-0 border-bottom py-2">
<input type="checkbox" class="form-check-input" id="example1">
<label class="form-check-label" for="example1">@kapilgroup.com</label>
</div>
              
              <div class="form-group form-check mb-0 border-bottom py-2">
<input type="checkbox" class="form-check-input" id="example2">
<label class="form-check-label" for="example2">@kapilKavurihub.com</label>
</div>
              
              <div class="form-group form-check mb-0 border-bottom py-2">
<input type="checkbox" class="form-check-input" id="example3">
<label class="form-check-label" for="example3">@kapiltowers.com</label>
</div>
              </div>
              
              </div><!--row-end-->
              
              <div class="row mt-3">

                  <div class="col-12 text-sm-right">

                      <button type="button" class="btn btn-white my-0 mr-2 px-4">Cancel</button>
                      <button type="button" class="btn btn-blue my-0 px-4">Save</button>

                  </div>

              </div>

          </div>

      </div>

  </div>

</div>